In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('JC-20161-citibike-tripdata.csv')
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [3]:
df1.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [4]:
df2 = pd.read_csv('JC-20162-citibike-tripdata.csv')
df2.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,361,2016-02-01 00:31:18,2016-02-01 00:37:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24393,Subscriber,1975.0,1
1,297,2016-02-01 01:55:05,2016-02-01 02:00:02,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24394,Subscriber,1985.0,2
2,1155,2016-02-01 02:40:05,2016-02-01 02:59:20,3183,Exchange Place,40.716247,-74.033459,3210,Pershing Field,40.742677,-74.051789,24676,Subscriber,1976.0,1
3,1769,2016-02-01 05:11:28,2016-02-01 05:40:58,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24700,Subscriber,1974.0,2
4,935,2016-02-01 05:48:24,2016-02-01 06:03:59,3203,Hamilton Park,40.727596,-74.044247,3214,Essex Light Rail,40.712774,-74.036486,24639,Subscriber,1974.0,2

In [5]:
df2.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,361,2016-02-01 00:31:18,2016-02-01 00:37:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24393,Subscriber,1975.0,1
1,297,2016-02-01 01:55:05,2016-02-01 02:00:02,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24394,Subscriber,1985.0,2
2,1155,2016-02-01 02:40:05,2016-02-01 02:59:20,3183,Exchange Place,40.716247,-74.033459,3210,Pershing Field,40.742677,-74.051789,24676,Subscriber,1976.0,1
3,1769,2016-02-01 05:11:28,2016-02-01 05:40:58,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24700,Subscriber,1974.0,2
4,935,2016-02-01 05:48:24,2016-02-01 06:03:59,3203,Hamilton Park,40.727596,-74.044247,3214,Essex Light Rail,40.712774,-74.036486,24639,Subscriber,1974.0,2

In [6]:
df3 = pd.read_csv('JC-20163-citibike-tripdata.csv')
df3.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,326,2016-03-01 00:00:04,2016-03-01 00:05:31,3194,McGinley Square,40.725340,-74.067622,3194,McGinley Square,40.725340,-74.067622,24678,Subscriber,1987.0,1
1,168,2016-03-01 00:02:54,2016-03-01 00:05:43,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24691,Subscriber,1970.0,1
2,133,2016-03-01 00:38:16,2016-03-01 00:40:30,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24466,Subscriber,1982.0,1
3,473,2016-03-01 03:28:13,2016-03-01 03:36:07,3203,Hamilton Park,40.727596,-74.044247,3183,Exchange Place,40.716247,-74.033459,24414,Subscriber,1964.0,1
4,246,2016-03-01 04:38:22,2016-03-01 04:42:28,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,24675,Subscriber,1985.0,1

In [7]:
df3.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,2016-03-01 00:00:04,2016-03-01 00:05:31,3194,McGinley Square,40.725340,-74.067622,3194,McGinley Square,40.725340,-74.067622,24678,Subscriber,1987.0,1
1,168,2016-03-01 00:02:54,2016-03-01 00:05:43,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24691,Subscriber,1970.0,1
2,133,2016-03-01 00:38:16,2016-03-01 00:40:30,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24466,Subscriber,1982.0,1
3,473,2016-03-01 03:28:13,2016-03-01 03:36:07,3203,Hamilton Park,40.727596,-74.044247,3183,Exchange Place,40.716247,-74.033459,24414,Subscriber,1964.0,1
4,246,2016-03-01 04:38:22,2016-03-01 04:42:28,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,24675,Subscriber,1985.0,1

In [10]:
df4 = pd.read_csv('JC-201604-citibike-tripdata.csv')
df4.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,2084,2016-04-01 00:16:13,2016-04-01 00:50:58,3203,Hamilton Park,40.727596,-74.044247,3209,Brunswick St,40.724176,-74.050656,24500,Subscriber,1979.0,1
1,324,2016-04-01 00:32:48,2016-04-01 00:38:13,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24475,Subscriber,1954.0,1
2,387,2016-04-01 02:00:33,2016-04-01 02:07:00,3220,5 Corners Library,40.734961,-74.059503,3215,Central Ave,40.746730,-74.049251,24503,Subscriber,1975.0,1
3,140,2016-04-01 02:11:43,2016-04-01 02:14:03,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24446,Subscriber,1981.0,1
4,142,2016-04-01 02:18:01,2016-04-01 02:20:23,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24446,Subscriber,1981.0,1

In [11]:
df4.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2084,2016-04-01 00:16:13,2016-04-01 00:50:58,3203,Hamilton Park,40.727596,-74.044247,3209,Brunswick St,40.724176,-74.050656,24500,Subscriber,1979.0,1
1,324,2016-04-01 00:32:48,2016-04-01 00:38:13,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24475,Subscriber,1954.0,1
2,387,2016-04-01 02:00:33,2016-04-01 02:07:00,3220,5 Corners Library,40.734961,-74.059503,3215,Central Ave,40.746730,-74.049251,24503,Subscriber,1975.0,1
3,140,2016-04-01 02:11:43,2016-04-01 02:14:03,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24446,Subscriber,1981.0,1
4,142,2016-04-01 02:18:01,2016-04-01 02:20:23,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24446,Subscriber,1981.0,1

In [13]:
df5 = pd.read_csv('JC-201605-citibike-tripdata.csv')
df5.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,243,2016-05-01 00:04:31,2016-05-01 00:08:34,3203,Hamilton Park,40.727596,-74.044247,3202,Newport PATH,40.727224,-74.033759,24507,Subscriber,1964.0,1
1,118,2016-05-01 00:06:47,2016-05-01 00:08:46,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,24660,Subscriber,1967.0,1
2,2891,2016-05-01 00:13:14,2016-05-01 01:01:25,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,24687,Subscriber,1991.0,1
3,303,2016-05-01 00:19:32,2016-05-01 00:24:35,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24551,Subscriber,1966.0,1
4,93,2016-05-01 00:21:34,2016-05-01 00:23:08,3211,Newark Ave,40.721525,-74.046305,3213,Van Vorst Park,40.718489,-74.047727,14717,Subscriber,1989.0,1

In [14]:
df5.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,243,2016-05-01 00:04:31,2016-05-01 00:08:34,3203,Hamilton Park,40.727596,-74.044247,3202,Newport PATH,40.727224,-74.033759,24507,Subscriber,1964.0,1
1,118,2016-05-01 00:06:47,2016-05-01 00:08:46,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,24660,Subscriber,1967.0,1
2,2891,2016-05-01 00:13:14,2016-05-01 01:01:25,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,24687,Subscriber,1991.0,1
3,303,2016-05-01 00:19:32,2016-05-01 00:24:35,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24551,Subscriber,1966.0,1
4,93,2016-05-01 00:21:34,2016-05-01 00:23:08,3211,Newark Ave,40.721525,-74.046305,3213,Van Vorst Park,40.718489,-74.047727,14717,Subscriber,1989.0,1

In [16]:
df6 = pd.read_csv('JC-201606-citibike-tripdata.csv')
df6.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,669,2016-06-01 00:00:37,2016-06-01 00:11:46,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,24486,Subscriber,1988.0,1
1,945,2016-06-01 00:14:54,2016-06-01 00:30:40,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24482,Subscriber,1981.0,2
2,334,2016-06-01 00:34:52,2016-06-01 00:40:26,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24391,Subscriber,1982.0,1
3,473,2016-06-01 00:40:30,2016-06-01 00:48:23,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24626,Subscriber,1983.0,1
4,551,2016-06-01 00:50:06,2016-06-01 00:59:17,3220,5 Corners Library,40.734961,-74.059503,3197,North St,40.752559,-74.044725,24405,Subscriber,1987.0,1

In [17]:
df6.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,669,2016-06-01 00:00:37,2016-06-01 00:11:46,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,24486,Subscriber,1988.0,1
1,945,2016-06-01 00:14:54,2016-06-01 00:30:40,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24482,Subscriber,1981.0,2
2,334,2016-06-01 00:34:52,2016-06-01 00:40:26,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24391,Subscriber,1982.0,1
3,473,2016-06-01 00:40:30,2016-06-01 00:48:23,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24626,Subscriber,1983.0,1
4,551,2016-06-01 00:50:06,2016-06-01 00:59:17,3220,5 Corners Library,40.734961,-74.059503,3197,North St,40.752559,-74.044725,24405,Subscriber,1987.0,1

In [19]:
df7 = pd.read_csv('JC-201607-citibike-tripdata.csv')
df7.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,964,2016-07-01 00:06:09,2016-07-01 00:22:14,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,1
1,472,2016-07-01 00:06:44,2016-07-01 00:14:37,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,2
2,565,2016-07-01 00:10:39,2016-07-01 00:20:05,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,1
3,413,2016-07-01 00:17:22,2016-07-01 00:24:15,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,1
4,436,2016-07-01 00:37:31,2016-07-01 00:44:48,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,2

In [20]:
df7.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,964,2016-07-01 00:06:09,2016-07-01 00:22:14,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,1
1,472,2016-07-01 00:06:44,2016-07-01 00:14:37,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,2
2,565,2016-07-01 00:10:39,2016-07-01 00:20:05,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,1
3,413,2016-07-01 00:17:22,2016-07-01 00:24:15,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,1
4,436,2016-07-01 00:37:31,2016-07-01 00:44:48,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,2

In [22]:
df8 = pd.read_csv('JC-201608-citibike-tripdata.csv')
df8.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,165,2016-08-01 00:09:40,2016-08-01 00:12:25,3270,Jersey & 6th St,40.725289,-74.045572,3273,Manila & 1st,40.721651,-74.042884,24679,Subscriber,1968.0,1
1,705,2016-08-01 01:45:08,2016-08-01 01:56:53,3186,Grove St PATH,40.719586,-74.043117,3206,Hilltop,40.731169,-74.057574,24530,Subscriber,1978.0,1
2,854,2016-08-01 02:22:26,2016-08-01 02:36:41,3183,Exchange Place,40.716247,-74.033459,3190,Garfield Ave Station,40.710467,-74.070039,24649,Subscriber,1988.0,1
3,211,2016-08-01 03:05:10,2016-08-01 03:08:41,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24624,Subscriber,1986.0,1
4,506,2016-08-01 03:25:42,2016-08-01 03:34:09,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24624,Subscriber,1986.0,1

In [23]:
df8.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,165,2016-08-01 00:09:40,2016-08-01 00:12:25,3270,Jersey & 6th St,40.725289,-74.045572,3273,Manila & 1st,40.721651,-74.042884,24679,Subscriber,1968.0,1
1,705,2016-08-01 01:45:08,2016-08-01 01:56:53,3186,Grove St PATH,40.719586,-74.043117,3206,Hilltop,40.731169,-74.057574,24530,Subscriber,1978.0,1
2,854,2016-08-01 02:22:26,2016-08-01 02:36:41,3183,Exchange Place,40.716247,-74.033459,3190,Garfield Ave Station,40.710467,-74.070039,24649,Subscriber,1988.0,1
3,211,2016-08-01 03:05:10,2016-08-01 03:08:41,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24624,Subscriber,1986.0,1
4,506,2016-08-01 03:25:42,2016-08-01 03:34:09,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24624,Subscriber,1986.0,1

In [24]:
df9 = pd.read_csv('JC-201609-citibike-tripdata.csv')
df9.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,254,2016-09-01 00:06:09,2016-09-01 00:10:24,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,26157,Subscriber,1989.0,2
1,119,2016-09-01 00:08:04,2016-09-01 00:10:04,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,24493,Subscriber,1988.0,1
2,425,2016-09-01 00:14:14,2016-09-01 00:21:19,3206,Hilltop,40.731169,-74.057574,3207,Oakland Ave,40.737604,-74.052478,24464,Subscriber,1961.0,1
3,304,2016-09-01 00:15:15,2016-09-01 00:20:20,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,24698,Subscriber,1967.0,1
4,1775,2016-09-01 00:16:37,2016-09-01 00:46:13,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24626,Subscriber,1984.0,1

In [25]:
df9.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2016-09-01 00:06:09,2016-09-01 00:10:24,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,26157,Subscriber,1989.0,2
1,119,2016-09-01 00:08:04,2016-09-01 00:10:04,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,24493,Subscriber,1988.0,1
2,425,2016-09-01 00:14:14,2016-09-01 00:21:19,3206,Hilltop,40.731169,-74.057574,3207,Oakland Ave,40.737604,-74.052478,24464,Subscriber,1961.0,1
3,304,2016-09-01 00:15:15,2016-09-01 00:20:20,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,24698,Subscriber,1967.0,1
4,1775,2016-09-01 00:16:37,2016-09-01 00:46:13,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24626,Subscriber,1984.0,1

In [27]:
df10 = pd.read_csv('JC-201610-citibike-tripdata.csv')
df10.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,183,2016-10-01 00:00:38,2016-10-01 00:03:41,3272,Jersey & 3rd,40.723332,-74.045953,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1968.0,1
1,379,2016-10-01 00:04:57,2016-10-01 00:11:17,3273,Manila & 1st,40.721651,-74.042884,3272,Jersey & 3rd,40.723332,-74.045953,26152,Subscriber,1987.0,1
2,414,2016-10-01 00:05:18,2016-10-01 00:12:13,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,26213,Subscriber,NaN,0
3,2411,2016-10-01 00:15:23,2016-10-01 00:55:35,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26278,Subscriber,1975.0,1
4,170,2016-10-01 00:21:25,2016-10-01 00:24:16,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,26152,Subscriber,1990.0,1

In [28]:
df10.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,183,2016-10-01 00:00:38,2016-10-01 00:03:41,3272,Jersey & 3rd,40.723332,-74.045953,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1968.0,1
1,379,2016-10-01 00:04:57,2016-10-01 00:11:17,3273,Manila & 1st,40.721651,-74.042884,3272,Jersey & 3rd,40.723332,-74.045953,26152,Subscriber,1987.0,1
2,414,2016-10-01 00:05:18,2016-10-01 00:12:13,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,26213,Subscriber,NaN,0
3,2411,2016-10-01 00:15:23,2016-10-01 00:55:35,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26278,Subscriber,1975.0,1
4,170,2016-10-01 00:21:25,2016-10-01 00:24:16,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,26152,Subscriber,1990.0,1

In [29]:
df11 = pd.read_csv('JC-201611-citibike-tripdata.csv')
df11.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,365,2016-11-01 00:00:39,2016-11-01 00:06:45,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,26217,Subscriber,1985.0,1
1,349,2016-11-01 00:05:14,2016-11-01 00:11:04,3220,5 Corners Library,40.734961,-74.059503,3210,Pershing Field,40.742677,-74.051789,24623,Subscriber,1978.0,2
2,2701,2016-11-01 00:05:51,2016-11-01 00:50:53,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26314,Subscriber,1975.0,1
3,313,2016-11-01 00:10:48,2016-11-01 00:16:01,3275,Columbus Drive,40.718355,-74.038914,3202,Newport PATH,40.727224,-74.033759,22064,Subscriber,1991.0,1
4,379,2016-11-01 00:19:39,2016-11-01 00:25:59,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,24456,Subscriber,1986.0,1

In [30]:
df11.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,365,2016-11-01 00:00:39,2016-11-01 00:06:45,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,26217,Subscriber,1985.0,1
1,349,2016-11-01 00:05:14,2016-11-01 00:11:04,3220,5 Corners Library,40.734961,-74.059503,3210,Pershing Field,40.742677,-74.051789,24623,Subscriber,1978.0,2
2,2701,2016-11-01 00:05:51,2016-11-01 00:50:53,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26314,Subscriber,1975.0,1
3,313,2016-11-01 00:10:48,2016-11-01 00:16:01,3275,Columbus Drive,40.718355,-74.038914,3202,Newport PATH,40.727224,-74.033759,22064,Subscriber,1991.0,1
4,379,2016-11-01 00:19:39,2016-11-01 00:25:59,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,24456,Subscriber,1986.0,1

In [31]:
df12 = pd.read_csv('JC-201612-citibike-tripdata.csv')
df12.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,204,2016-12-01 00:33:31,2016-12-01 00:36:55,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,2016-12-01 00:56:09,2016-12-01 01:06:16,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,2016-12-01 01:14:22,2016-12-01 01:17:27,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,2016-12-01 01:29:52,2016-12-01 01:38:17,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,2016-12-01 01:47:14,2016-12-01 01:58:27,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1

In [32]:
df12.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,204,2016-12-01 00:33:31,2016-12-01 00:36:55,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,2016-12-01 00:56:09,2016-12-01 01:06:16,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,2016-12-01 01:14:22,2016-12-01 01:17:27,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,2016-12-01 01:29:52,2016-12-01 01:38:17,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,2016-12-01 01:47:14,2016-12-01 01:58:27,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1

In [33]:
jc_citibike_2016 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
jc_citibike_2016

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
5,883,2016-01-01 01:03:28,2016-01-01 01:18:11,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24442,Customer,NaN,0
6,445,2016-01-01 01:07:45,2016-01-01 01:15:11,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1988.0,2
7,192,2016-01-01 01:18:51,2016-01-01 01:22:03,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,24625,Subscriber,1980.0,1
8,409,2016-01-01 01:23:44,2016-01-01 01:30:34,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24429,Subscriber,1990.0,1
9,285,2016-01-01 01:25:12,2016-01-01 01:29:57,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24407,Subscriber,1988.0,2
10,206,2016-01-01 01:45:34,2016-01-01 01:49:00,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24377,Subscriber,1993.0,1
11,251,2016-01-01 02:02:55,2016-01-01 02:07:06,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,24605,Subscriber,1976.0,1
12,292,2016-01-01 02:20:38,2016-01-01 02:25:30,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,24721,Subscriber,1992.0,1
13,175,2016-01-01 02:23:37,2016-01-01 02:26:32,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24601,Subscriber,1991.0,1
14,769,2016-01-01 02:28:58,2016-01-01 02:41:47,3193,Lincoln Park,40.724605,-74.078406,3211,Newark Ave,40.721525,-74.046305,24606,Subscriber,1968.0,1
15,384,2016-01-01 02:39:07,2016-01-01 02:45:32,3209,Brunswick St,40.724176,-74.050656,3213,Van Vorst Park,40.718489,-74.047727,24470,Subscriber,1975.0,2
16,364,2016-01-01 02:39:28,2016-01-01 02:45:33,3209,Brunswick St,40.724176,-74.050656,3213,Van Vorst Park,40.718489,-74.047727,24542,Subscriber,1976.0,1
17,326,2016-01-01 02:47:39,2016-01-01 02:53:05,3186,Grove St PATH,40.719586,-74.043117,3202,Newport PATH,40.727224,-74.033759,24716,Subscriber,1992.0,1
18,341,2016-01-01 02:53:35,2016-01-01 02:59:17,3186,Grove St PATH,40.719586,-74.043117,3202,Newport PATH,40.727224,-74.033759,24687,Subscriber,1982.0,1
19,634,2016-01-01 02:54:56,2016-01-01 03:05:30,3194,McGinley Square,40.725340,-74.067622,3209,Brunswick St,40.724176,-74.050656,24675,Subscriber,1981.0,1
20,331,2016-01-01 03:02:35,2016-01-01 03:08:06,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24687,Subscriber,1982.0,1
21,550,2016-01-01 03:10:25,2016-01-01 03:19:36,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,24531,Subscriber,1986.0,1
22,988,2016-01-01 03:16:33,2016-01-01 03:33:02,3196,Riverview Park,40.744319,-74.043991,3209,Brunswick St,40.724176,-74.050656,24662,Customer,NaN,0
23,969,2016-01-01 03:16:34,2016-01-01 03:32:43,3196,Riverview Park,40.744319,-74.043991,3209,Brunswick St,40.724176,-74.050656,24563,Subscriber,1984.0,1
24,378,2016-01-01 03:17:01,2016-01-01 03:23:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24450,Subscriber,1981.0,1
25,368,2016-01-01 03:17:13,2016-01-01 03:23:21,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24627,Subscriber,1982.0,2
26,287,2016-01-01 03:43:03,2016-01-01 03:47:51,3202,Newport PATH,40.727224,-74.033759,3183,Exchange Place,40.716247,-74.033459,24471,Subscriber,1986.0,1
27,286,2016-01-01 03:51:30,2016-01-01 03:56:16,3214,Essex Light Rail,40.712774,-74.036486,3187,Warren St,40.721124,-74.038051,24407,Subscriber,1988.0,2
28,539,2016-01-01 04:12:06,2016-01-01 04:21:05,3195,Sip Ave,40.730743,-74.063784,3212,Christ Hospital,40.734786,-74.050444,24664,Subscriber,1966.0,2
29,340,2016-01-01 04:16:04,2016-01-01 04:21:45,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24493,Subscriber,1972.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15084,251,2016-12-31 19:30:47,2016-12-31 19:34:58,3203,Hamilton Park,40.727596,-74.044247,3273,Manila & 1st,40.721651,-74.042884,24530,Subscriber,1973.0,1
15085,225,2016-12-31 19:38:48,2016-12-31 19:42:34,3270,Jersey & 6th St,40.725289,-74.045572,3186,Grove St PATH,40.719586,-74.043117,24525,Subscriber,1970.0,1
15086,260,2016-12-31 19:53:28,2016-12-31 19:57:49,3211,Newark Ave,40.721525,-74.046305,3186,Grove St PATH,40.719586,-74.043117,24641,Subscriber,1959.0,2
15087,627,2016-12-31 19:58:11,2016-12-31 20:08:38,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,24513,Subscriber,1967.0,2
15088,597,2016-12-31 19:58:38,2016-12-31 20:08:36,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,24463,Subscriber,1970.0,1
15089,75,2016-12-31 20:07:34,2016-12-31 20:08:50,3270,Jersey & 6th St,40.725289,-74.045572,3272,Jersey & 3rd,40.723332,-74.045953,24600,Subscriber,1989.0,1
15090,76,2016-12-31 20:12:18,2016-12-31 20:13:34,3272,Jersey & 3rd,40.723332,-74.045953,3270,Jersey & 6th St,40.725289,-74.045572,24600,Subscriber,1989.0,1
15091,440,2016-12-31 20:12:26,2016-12-31 20:19:47,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24417,Subscriber,NaN,0
15092,391,2016-12-31 20:17:20,2016-12-31 20:23:52,3281,Leonard Gordon Park,40.745910,-74.057271,3195,Sip Ave,40.730743,-74.063784,24408,Subscriber,1994.0,1
15093,287,2016-12-31 20:18:53,2016-12-31 20:23:41,3267,Morris Canal,40.712419,-74.038526,3187,Warren St,40.721124,-74.038051,24699,Subscriber,1989.0,1
15094,158,2016-12-31 20:24:55,2016-12-31 20:27:33,3213,Van Vorst Park,40.718489,-74.047727,3186,Grove St PATH,40.719586,-74.043117,24457,Subscriber,1987.0,2
15095,820,2016-12-31 20:27:55,2016-12-31 20:41:35,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26200,Subscriber,1980.0,1
15096,168,2016-12-31 20:48:27,2016-12-31 20:51:16,3213,Van Vorst Park,40.718489,-74.047727,3279,Dixon Mills,40.721630,-74.049968,26198,Subscriber,1987.0,2
15097,267,2016-12-31 20:52:51,2016-12-31 20:57:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,26241,Subscriber,1966.0,1
15098,212,2016-12-31 21:03:10,2016-12-31 21:06:42,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,26163,Subscriber,1972.0,1
15099,1226,2016-12-31 21:08:02,2016-12-31 21:28:28,3267,Morris Canal,40.712419,-74.038526,3193,Lincoln Park,40.724605,-74.078406,24535,Subscriber,1960.0,1
15100,304,2016-12-31 21:12:05,2016-12-31 21:17:10,3210,Pershing Field,40.742677,-74.051789,3212,Christ Hospital,40.734786,-74.050444,24486,Subscriber,1969.0,1
15101,209,2016-12-31 21:23:56,2016-12-31 21:27:26,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,24516,Subscriber,1986.0,2
15102,463,2016-12-31 21:41:17,2016-12-31 21:49:00,3194,McGinley Square,40.725340,-74.067622,3220,5 Corners Library,40.734961,-74.059503,24426,Subscriber,1984.0,1
15103,99,2016-12-31 21:44:50,2016-12-31 21:46:30,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,24622,Subscriber,1957.0,1
15104,216,2016-12-31 21:48:33,2016-12-31 21:52:09,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,24590,Subscriber,1985.0,1
15105,559,2016-12-31 21:52:13,2016-12-31 22:01:32,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730743,-74.063784,26431,Subscriber,1986.0,1
15106,473,2016-12-31 22:04:14,2016-12-31 22:12:07,3186,Grove St PATH,40.719586,-74.043117,3268,Lafayette Park,40.713464,-74.062859,24525,Subscriber,1991.0,1
15107,242,2016-12-31 23:02:01,2016-12-31 23:06:03,3214,Essex Light Rail,40.712774,-74.036486,3276,Marin Light Rail,40.714584,-74.042817,26232,Subscriber,1958.0,1
15108,377,2016-12-31 23:10:00,2016-12-31 23:16:17,3206,Hilltop,40.731169,-74.057574,3225,Baldwin at Montgomery,40.723659,-74.064194,24421,Subscriber,1984.0,1
15109,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2
15110,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0
15111,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1
15112,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2
15113,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1

In [34]:
jc_citibike_2016.to_csv('jc_citibike_2016.csv', sep = ',')